[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
"flake8" = "*"
pre-commit = "*"

[packages]
django = "*"
graphene-django = "*"
"psycopg2" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
